# Logs
logs
*.log

/node_modules/*
!/node_modules/cors-anywhere

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
src/components/test/MuiButton.tsx
src/components/test/MuiTypography.tsx
src/secrets.tsx
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests/example.spec.ts
tests/newworld.spec.ts
src/components/awesomedatabase.tsx
tests-examples/demo-todo-app.spec.ts
src/firebase.tsx
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
src/auth/firebase.tsx
